---
import { frontmatter as metadata } from "../data/metadata.mdx";
import clsx from "clsx";
import Logo from "../assets/OneMoreMoment_horz_Logo_2019-e1555076394163.png";

const HeaderData = metadata.header ?? {};
const companyName = metadata.name;
const { navItems = [], cta, sticky } = HeaderData;
const { overlay = false } = Astro.props;
---

<div
  class={clsx(
    "navbar z-[100] shadow-lg backdrop-blur-md transition-all duration-300",
    overlay
      ? "fixed top-0 w-full bg-white/70 border-b border-white/20"
      : "bg-base-100/90",
    !overlay && sticky && "sticky top-0",
  )}
>
  <div class="navbar-start">
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        id="Menu"
        aria-label="Menu"
        class="btn btn-ghost lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-xl dropdown-content bg-base-100 rounded-box z-50 mt-3 w-52 p-2 shadow"
      >
        {
          navItems.map(({ children, href, name }) =>
            children ? (
              <li>
                <details>
                  <summary>{name}</summary>
                  <ul class="p-2">
                    {children.map(({ href, name }) => (
                      <li>
                        <a href={href}>{name}</a>
                      </li>
                    ))}
                  </ul>
                </details>
              </li>
            ) : (
              <li>
                <a href={href}>{name}</a>
              </li>
            ),
          )
        }
      </ul>
    </div>
    <a href="/" class="flex items-center gap-2 text-xl font-bold lg:mx-4">
      <img
        src={Logo.src}
        alt={companyName}
        class="h-24 w-auto object-contain lg:h-32"
        loading="eager"
      />
    </a>
  </div>

  <div class="navbar-end hidden w-full lg:flex">
    <ul class="menu menu-horizontal px-1 text-lg font-semibold">
      {
        navItems.map((item) =>
          item.children ? (
            <li>
              <details>
                <summary>{item.name}</summary>
                <ul class="p-2">
                  {item.children.map((child) => (
                    <li>
                      <a href={child.href}>{child.name}</a>
                    </li>
                  ))}
                </ul>
              </details>
            </li>
          ) : (
            <li>
              <a href={item.href}>{item.name}</a>
            </li>
          ),
        )
      }
    </ul>
    {
      cta && (
        <a
          class="btn btn-lg ml-4 rounded-md border-0 bg-[#D9776E] px-6 text-white hover:bg-[#c5665d]"
          href={cta.href}
        >
          {cta.label}
        </a>
      )
    }
  </div>
</div>
