---
import type { CollectionEntry } from "astro:content";
import Base from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, image, author } = Astro.props;
---

<Base title={title} description={description} image={image} overlayHeader={false}>
  <article class="bg-base-100 container mx-auto px-4 py-12 md:py-20 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <div class="mb-10 text-center">
        {
          image && (
            <img
              width={1020}
              height={510}
              src={image}
              alt={title}
              class="mb-8 h-auto w-full rounded-2xl shadow-lg"
            />
          )
        }
        <div
          class="mb-4 text-sm font-semibold tracking-wider uppercase opacity-70"
        >
          <time datetime={pubDate.toISOString()}>
            {
              pubDate.toLocaleDateString("en-us", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
          {
            updatedDate && (
              <span class="italic">
                {" "}
                (Updated:{" "}
                {updatedDate.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
                )
              </span>
            )
          }
          {author && <span class="mx-2">•</span>}
          {author && <span>{author}</span>}
        </div>
        <h1 class="text-4xl leading-tight font-bold md:text-5xl">{title}</h1>
      </div>

      <div class="prose prose-lg prose-primary mx-auto">
        <slot />
      </div>
    </div>
  </article>
</Base>
